<%= form_for @newpost do |f| %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Add Post" %>
  </div>
<% end %>
